package start{{ ToLower .Name }}api

// Request contains the data required to start a {{ ToNatural .Name }} process.
type Request struct {
	//TODO: AUTOGENERATE: Add fields and remove me
	CallbackUrl string `json:"callbackUrl"`
}
