package {{ ToLower .Name }}

import (
	"time"

	"github.com/google/uuid"
)

type Command struct {
	ProcessId uuid.UUID
	//DltAccountId string
	BlockTimestamp time.Time
	//TODO: AUTOGENERATE: complete command fields and remove this comment
}

type Response struct {
	//TODO: AUTOGENERATE: Add response type referencing {{ ToLower .Entity }}.{{ ToDone .Action }}Event
}
