package {{ ToLower .DLTEventName }}converter

import (
	"context"
	"dlt-ingress/src/main/core/blockchain/client"

	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/event"
)

type CommandHandler struct {
	eventBus         event.Bus
	blockchainClient clientblockchain.Service
}

func NewCommandHandler(
	eventBus event.Bus,
	blockchainClient clientblockchain.Service,
) *CommandHandler {
	return &CommandHandler{
		eventBus:         eventBus,
		blockchainClient: blockchainClient,
	}
}

func (h *CommandHandler) Handle(ctx context.Context, cmd *Command) (*Response, error) {
	//TODO: AUTOGENERATE: Implement handler using Parse and remove this comment
	panic("implement me")
	//return &Response{}, nil
}
