package {{ ToLower .DLTEventName }}converter

import (
	"dlt-ingress/src/main/blockchain/port/model"
)

type Command struct {
	model.ContractEvent
}

type Response struct {
	//TODO: AUTOGENERATE: Add response referencing {{ ToLower .Entity }}.{{ .DLTEventName }}DLTEvent
}
