package ttfinished{{ ToLower .Name }}

import (
	"context"
	{{- if not .IsErrorRefactor}}
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/domainerrors"
	{{- end}}
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/process/{{ ToLower .Name }}"
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/process/{{ ToLower .Name }}/service"
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/port/repository/process/{{ ToLower .Name }}"

	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/domain/baseprocess"
	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/event"
)

type CommandHandler struct {
	eventBus                   event.Bus
	processRepo                {{ ToLower .Name }}processrepo.Repository
	{{ ToLower .Action }}{{ .Entity }}ProcessStatusCheck service{{ ToLower .Name }}process.StatusCheckInterface
}

func NewCommandHandler(processRepo {{ ToLower .Name }}processrepo.Repository, eventBus event.Bus, {{ ToLower .Action }}{{ .Entity }}ProcessStatusCheck service{{ ToLower .Name }}process.StatusCheckInterface) *CommandHandler {
	return &CommandHandler{processRepo: processRepo, eventBus: eventBus, {{ ToLower .Action }}{{ .Entity }}ProcessStatusCheck: {{ ToLower .Action }}{{ .Entity }}ProcessStatusCheck}
}

func (h *CommandHandler) Handle(ctx context.Context, cmd *Command) (*Response, {{if .IsErrorRefactor}}error{{else}}*domainerrors.{{ .BoundedContext }}Error{{end}}) {

	//TODO: AUTOGENERATE: Implement handler and remove this comment
	{{ ToLower .Action }}{{ .Entity }}Process, err := h.{{ ToLower .Action }}{{ .Entity }}ProcessStatusCheck.Execute(ctx, cmd.ProcessId, baseprocess.Ordered)
	if err != nil {
		return nil, err
	}

	{{ ToLower .Action }}{{ .Entity }}Process.BaseProcess.Status = baseprocess.Finished
	//{{ ToLower .Action }}{{ .Entity }}Process.BaseProcess.EntityId = {{ ToLower .Entity }}.Id
	repoErr := h.processRepo.Save(ctx, {{ ToLower .Action }}{{ .Entity }}Process)
	if repoErr != nil {
		return nil, {{if .IsErrorRefactor}}repoErr{{else}}repoErr.(*domainerrors.{{ .BoundedContext }}Error){{end}}
	}

	evt := {{ ToLower .Name }}process.TransitToFinishedEvent{
		BaseEvent: *event.NewBaseEvent(),
		ProcessId: {{ ToLower .Action }}{{ .Entity }}Process.ProcessId}
	if evtErr := h.eventBus.Publish(ctx, evt); evtErr != nil {
		return nil, {{if .IsErrorRefactor}}evtErr{{else}}domainerrors.NewPublishError(evtErr, evt){{end}}
	}
	panic("implement me")
	//return &Response{evt}, nil
}
