package ttfinished{{ ToLower .Name }}

import (
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/process/{{ ToLower .Name }}"

	"github.com/google/uuid"
)

type Command struct {
	ProcessId uuid.UUID
}

type Response struct {
	{{ ToLower .Name }}process.TransitToFinishedEvent
}
