package {{ ToLower .Entity }}

import (
	"github.com/google/uuid"
	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/event"
)

type {{ ToDone .Action }}DLTEvent struct {
	event.BaseDltEvent
	TransactionHash string
	Address         string
}

type {{ ToDone .Action }}Event struct {
	event.BaseEvent
	{{ .Entity }}Id uuid.UUID
	ProcessId       uuid.UUID
}
