package service{{ ToLower .Action }}{{ ToLower .Entity }}process

import (
	"context"
	{{- if not .IsErrorRefactor}}
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/domainerrors"
	{{- end}}
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/process/{{ ToLower .Action }}{{ ToLower .Entity }}"
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/port/repository/process/{{ ToLower .Action }}{{ ToLower .Entity }}"

	"github.com/google/uuid"
)

type ExistsInterface interface {
	Execute(ctx context.Context, processId uuid.UUID) (*{{ ToLower .Action }}{{ ToLower .Entity }}process.{{ .Action }}{{ .Entity }}Process, {{if .IsErrorRefactor}}error{{else}}*domainerrors.{{ .BoundedContext }}Error{{end}})
}

type Exists struct {
	processRepo {{ ToLower .Action }}{{ ToLower .Entity }}processrepo.Repository
}

func NewExists(processRepo {{ ToLower .Action }}{{ ToLower .Entity }}processrepo.Repository) *Exists {
	return &Exists{processRepo: processRepo}
}

func (s *Exists) Execute(ctx context.Context, processId uuid.UUID) (*{{ ToLower .Action }}{{ ToLower .Entity }}process.{{ .Action }}{{ .Entity }}Process, {{if .IsErrorRefactor}}error{{else}}*domainerrors.{{ .BoundedContext }}Error{{end}}) {
	process, err := s.processRepo.FindByIdPreload(ctx, processId)
	if err != nil {
		return nil, {{if .IsErrorRefactor}}err{{else}}err.(*domainerrors.{{ .BoundedContext }}Error){{end}}
	}
	return process, nil
}

var _ ExistsInterface = (*Exists)(nil)
