package {{ ToLower .Entity }}repo

import (
	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/db"
	"asseto-engine-api/src/main/{{ ToLower .BoundedContext }}/internal/domain/{{ ToLower .ExtraPath }}{{ .FolderName }}"
	"gorm.io/gorm"
)

type Postgres struct {
	db *gorm.DB
	tm db.TransactionManager
}

func NewPostgres(db *gorm.DB, tm db.TransactionManager) *Postgres {
	return &Postgres{
		db: db,
		tm: tm,
	}
}

var _ {{ ToLower .Entity }}.Repository = (*Postgres)(nil)
