package ttordered{{ ToLower .Name }}

import (
	"context"
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/app/command/process/{{ ToLower .Name }}/transittoordered"
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/process/{{ ToLower .Name }}"

	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/command"
)

type Listener struct {
	commandBus command.Bus
}

func NewListener(commandBus command.Bus) *Listener {
	return &Listener{commandBus: commandBus}
}

func (l *Listener) Listen(ctx context.Context, event *{{ ToLower .Name }}process.OrderedEvent) error{
	_, err := l.commandBus.Dispatch(ctx, &ttordered{{ ToLower .Name }}.Command{
		ProcessId:       event.ProcessId,
		TransactionHash: event.TransactionHash,
	})
	return err
}
