package start{{ ToLower .Name }}

import (
	"context"
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/app/command/process/{{ ToLower .Name }}/start"
	{{- if not .IsErrorRefactor}}
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/domainerrors"
	{{- end}}
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/domain/process"

	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/command"
	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/domain/baseprocess"
	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/query"
)

type AppService struct {
	commandBus command.Bus
	queryBus   query.Bus
	// TODO: AUTOGENERATE: Add additional services needed and remove this comment
}

func NewAppService(commandBus command.Bus, queryBus query.Bus) *AppService {
	return &AppService{commandBus: commandBus, queryBus: queryBus}
}

func (s *AppService) Execute(ctx context.Context, model Model) (Response, {{if .IsErrorRefactor}}error{{else}}*domainerrors.{{ .BoundedContext }}Error{{end}}) {
	// TODO: AUTOGENERATE: Add additional validations as needed

	cmdResponse, err := s.commandBus.Dispatch(ctx, &start{{ ToLower .Name }}.Command{
		// TODO: AUTOGENERATE: Add command params
		ProcessCommand: command.ProcessCommand{CallbackUrl: model.CallbackUrl},
	})
	if err != nil {
		return Response{}, {{if .IsErrorRefactor}}err{{else}}err.(*domainerrors.{{ .BoundedContext }}Error){{end}}
	}

	res := cmdResponse.(*start{{ ToLower .Name }}.Response)
	return Response{
		ProcessId: res.ProcessId,
		Status:    string(baseprocess.Started),
		Type:      string({{ ToLower .BoundedContext }}process.{{ .Name }}),
	}, nil
}
