package order{{ ToLower .Name }}

import (
	"context"
	"dlt-ingress/src/main/core/blockchain/transaction"
	"dlt-ingress/src/main/{{ ToLower .BoundedContext }}/internal/domain/process/{{ ToLower .Name }}"

	"gitlab.com/iobuilders/projects/eng/iob-core/iob-go-core/v4/src/main/core/event"
)

type CommandHandler struct {
	eventBus event.Bus
	//TODO: AUTOGENERATE: Replace command params by needed and remove this comment
	transactionBlockchain transactionblockchain.Service
}

func NewCommandHandler(eventBus event.Bus, transactionBlockchain transactionblockchain.Service) *CommandHandler {
	return &CommandHandler{eventBus: eventBus, transactionBlockchain: transactionBlockchain}
}

func (h *CommandHandler) Handle(ctx context.Context, cmd *Command) (*Response, error) {
	//TODO: AUTOGENERATE: Implement handler and remove this comment

	evt := {{ ToLower .Name }}process.OrderedEvent{
		ProcessId: cmd.ProcessId,
		//TransactionHash: tx.Hash().String(),
		BaseEvent: *event.NewBaseEvent(),
	}

	if evtErr := h.eventBus.Publish(ctx, evt); evtErr != nil {
		return nil, evtErr
	}
	panic("implement me")
	//return &Response{evt}, nil
}
